body,ul,li,h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}
body{
  line-height: 1.666;
  font-family: "Microsoft Yahei",verdana;
  font-size: 12px;
  color: #000;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
//向上动画封一个宏
@mixin up1($i) {
  transform: translateY($i);
}
//横向动画
@mixin heng($v) {
  transform: translateX($v);
}
//监测transform
%transform{
  transition: transform 1s cubic-bezier(0.86, 0, 0.18, 1.01);
}
.section{
  overflow: hidden;
}
.fp-tableCell{
  display: block;
}
.textArea{
  position: relative;
  width: 1024px;
  margin: 0 auto;
}
.topic{
  position: absolute;
  left: 256px;
  font-size: 24px;
}
.modern{
  display: block;
  position: relative;
  .img{
   position: absolute;
   background-repeat: no-repeat;
 }
}
%touming1{
  animation: touming1 0.5s ease both;
}
@keyframes touming1{
  0%{
    opacity:1;
  }
  100%{
    opacity: 0;
  }
}

%touming2{
  animation: touming2 1s ease both;
}
@keyframes touming2{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1
  }
}

@keyframes fangda{
  0%{
    transform: scale(1.9);
  }
  35%{
    transform: scale(1);
  }
  70%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}
